html,
body {
  height: 100%;
}

body{
  background: var(--main-bg-color);
  color: #444;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

fieldset {
  border: 0;
}

label {
  display: inline-block;
}

button {
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  padding: .75rem 1.25rem;
}
