.form {

  &__holder {
    max-width: 100%;
    min-width: 55%;
    width: 370px;
  }

  &__title {
    color: var(--darken-bg-color);
    font-size: 1rem;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.5rem;
  }

  &__field {
    margin: 1em .5rem;
    position: relative;

    @media screen and (max-width: 640px) {
      width: 100%;
    }
  }

  &__field:not(.form__field--big):not(.form__field--small) {
    @media screen and (min-width: 641px) {
      width: calc(50% - 1rem);
    }
  }

  &__field--big {
    @media screen and (min-width: 641px) {
      width: calc(75% - 1rem);
    }
  }

  &__field--small {
    @media screen and (min-width: 641px) {
      width: calc(25% - 1rem);
    }
  }

  &__input:focus ~ .form__label,
  &__input.has-error ~ .form__label,
  &__input:valid ~ .form__label {
    font-size: .5rem;
    transform: translateY(-26px);
  }

  &__input {
    border: 1px solid var(--border-color);
    font-size: 14px;
    height: 40px;
    padding: .5rem;
    transition: border .35s ease;
    width: 100%;
  }

  &__button,
  &__button:focus,
  &__input:focus,
  &__input:invalid {
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
    outline: 0;
  }

  &__input:focus {
    border-color: var(--darken-bg-color);
  }

  &__input:focus ~ .form__label {
    color: var(--darken-bg-color);
  }

  &__input:valid ~ .form__message {
    opacity: 0 !important;
    visibility: hidden !important;
  }

  &__input:not(:valid).has-error {
    border-color: var(--error-color);
  }

  &__input:not(:valid).has-error ~ .form__label {
    color: var(--error-color);
  }

  &__label {
    background: var(--main-gradient-color);
    bottom: .65rem;
    color: var(--border-color);
    font-size: 14px;
    left: .25rem;
    padding: 0 .5rem;
    pointer-events: none;
    position: absolute;
    transform-origin: left center;
    transition: all .35s ease;
  }

  &__button {
    background-color: var(--active-color);
    color: var(--light-text-color);
    margin: 2rem 0;
    width: 100%;
  }

  &__message {
    bottom: -1.5rem;
    color: var(--error-color);
    font-size: 12px;
    left: 0;
    min-width: 80px;
    position: absolute;
  }
}
