.progress {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 42px;
  width: 100%;

  &__bar {
    background-color: var(--darken-bg-color);
    border-radius: 25px;
    height: 10px;
    min-width: 40%;
    overflow: hidden;
  }

  &__filled {
    background-color: var(--light-text-color);
    height: 100%;
    width: 25%;
  }

  &__counter {
    color: var(--light-text-color);
    margin-right: 1rem;
  }
}
