:root {
  --main-bg-color: #F0F7FF;
  --dark-bg-color: #1D4498;
  --darken-bg-color: #0d224e;
  --light-text-color: #FFF;
  --border-color: #CCC;
  --active-color: #0ACA8A;
  --error-color: #ce405a;
  --main-gradient-color: linear-gradient(0deg, rgba(255,255,255,1) 44%, rgba(255,255,255,0) 44%);
}
