.signup {
  display: flex;
  height: 100%;

  @media screen and (max-width: 640px) {
    flex-wrap: wrap;
  }

  > * {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem 2%;

    @media screen and (max-width: 640px) {
      width: 100%;
    }
  }

  &__info {
    background-color: var(--dark-bg-color);
    justify-content: space-between;

    @media screen and (min-width: 641px) {
      width: 40%;
    }
  }

  &__logo {
    width: 200px;
  }

  &__title {
    color: var(--light-text-color);
    font-size: 32px;
    font-weight: normal;
    padding: 20px 0;
    text-align: center;
  }

  &__form {
    justify-content: center;

    @media screen and (min-width: 641px) {
      width: 60%;
    }
  }
}
