doctype
html.no-js(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name='title', content='Volders')
    meta(name='description', content='Sign Up Process')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://www.volders.de')
    meta(property='og:title', content='Volders')
    meta(property='og:description', content='Sign Up Process')
    meta(property="og:locale", content="en_US")
    meta(property='twitter:title', content='Volders')
    meta(property='twitter:description', content='Sign Up Process')
    meta(name="twitter:site", content="@volders")
    meta(name="keywords", content="volders ist eine smarte Lösung, um Verträge im Blick zu behalten inkl. schnellem Kündigungsversand und automatischer Vervollständigungsfunktion von Verträgen.")
    meta(name="theme-color", content="#1D4498")
    meta(name="msapplication-TileColor", content="#ffffff")
    link(rel="apple-touch-icon", sizes="180x180", href="/assets/favicon/apple-touch-icon.png?v=zXbkA6lpMr")
    link(rel="icon", type="image/png", sizes="32x32", href="/assets/favicon/favicon-32x32.png?v=zXbkA6lpMr")
    link(rel="icon", type="image/png", sizes="16x16", href="/assets/favicon/favicon-16x16.png?v=zXbkA6lpMr")
    link(rel="manifest", href="/assets/favicon/site.webmanifest?v=zXbkA6lpMr")
    link(rel="mask-icon", href="/assets/favicon/safari-pinned-tab.svg?v=zXbkA6lpMr", color="#1D4498")
    link(rel="shortcut icon", href="/assets/favicon/favicon.ico?v=zXbkA6lpMr")
    link(href='https://fonts.googleapis.com/css?family=Lato:400,900', rel='stylesheet')
    link(rel="stylesheet" href="/css/main.css")
    title Volders
  body
    != yield
