.signup
  .signup__info
    svg.signup__logo(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 148 48')
      path(fill='#ffffff', d='M17.66 6.723h13.093a2.883 2.883 0 0 1 2.884 2.882v27.844a2.885 2.885 0 0 1-2.884 2.884H17.66v-7.086a2.884 2.884 0 0 0 1.65-1.304l8.163-13.92a2.884 2.884 0 0 0-2.492-4.34 2.884 2.884 0 0 0-2.49 1.429l-4.83 8.237V6.723zM13.562.024a2.873 2.873 0 0 0-1.133.397L1.384 7.166A2.882 2.882 0 0 0 0 9.628v27.843c0 1.042.555 1.956 1.383 2.462l11.046 6.745a2.886 2.886 0 0 0 4.389-2.465v-10.82a2.885 2.885 0 0 1-2.49-1.428l-8.163-13.92a2.882 2.882 0 0 1 2.472-4.358 2.886 2.886 0 0 1 2.51 1.447l5.67 9.672V2.886A2.881 2.881 0 0 0 13.563.024zM53.78 18.523l-3.813 9.92-3.844-9.92h-3.875L48.293 33h3.286l6.107-14.477H53.78zM66.489 33.31c4.123 0 7.718-3.007 7.718-7.595 0-4.588-3.595-7.502-7.718-7.502-4.124 0-7.689 2.914-7.689 7.502 0 4.588 3.566 7.595 7.689 7.595zm0-3.348c-2.233 0-4.062-1.705-4.062-4.247 0-2.48 1.83-4.154 4.062-4.154 2.231 0 4.091 1.674 4.091 4.154 0 2.542-1.86 4.247-4.091 4.247zM77.59 33h3.596V10.773h-3.596V33zM96.53 10.773v9.672c-.992-1.519-3.007-2.232-4.836-2.232-3.813 0-7.099 2.883-7.099 7.533 0 4.619 3.317 7.564 7.13 7.564 1.767 0 3.813-.713 4.805-2.263V33h3.596V10.773h-3.596zm-4.247 19.158c-2.232 0-4.06-1.798-4.06-4.216s1.828-4.154 4.06-4.154c2.077 0 4.185 1.612 4.185 4.154s-1.984 4.216-4.185 4.216zm26.236-4.309c0-4.526-3.255-7.409-7.409-7.409-4.123 0-7.595 2.914-7.595 7.533 0 4.526 3.286 7.564 7.626 7.564 2.635 0 5.177-1.116 6.51-3.224l-2.387-1.829c-.868 1.178-2.356 1.798-3.937 1.798-2.139 0-3.689-1.023-4.092-3.038h11.191c.062-.527.093-.992.093-1.395zm-11.284-1.116c.434-2.201 1.984-3.131 3.937-3.131 2.015 0 3.534 1.147 3.751 3.131h-7.688zm22.306-6.293c-1.798 0-3.379.992-4.154 3.41v-3.1h-3.596V33h3.627v-5.053c0-4.061 1.302-6.355 3.658-6.355.527 0 1.271.093 2.108.527l.713-3.41c-.558-.31-1.488-.496-2.356-.496zm9.377 15.097c2.945 0 5.89-1.55 5.89-4.495 0-1.333-.589-3.379-3.844-4.216l-2.325-.62c-.837-.186-1.55-.62-1.55-1.364 0-.899.775-1.519 1.891-1.519 1.023 0 1.922.62 1.922 1.643h3.441c.031-3.255-2.883-4.526-5.456-4.526-3.162 0-5.394 1.984-5.394 4.247 0 1.829.837 3.565 4.092 4.433l1.922.496c1.085.248 1.705.62 1.705 1.426 0 .93-.93 1.581-2.356 1.581-1.519 0-2.387-.93-2.387-1.922h-3.379c.062 3.1 2.945 4.836 5.828 4.836z')
    h1.signup__title Let's Start the Process
    .signup__progress.progress
      span.progress__counter 25%
      .progress__bar
        .progress__filled
  form.signup__form.form(action="")
    fieldset.form__holder
      h5.form__title Name
      .form__row
        .form__field
          span.form__message.is-invisible Can't be blank
          input.form__input(type="text", name="", required)
          label.form__label First Name
        .form__field
          span.form__message.is-invisible Can't be blank
          input.form__input(type="text", name="", required)
          label.form__label Last Name
      h5.form__title Address
      .form__row
        .form__field.form__field--big
          span.form__message.is-invisible Can't be blank
          input.form__input(type="text", name="", required)
          label.form__label Street Name
        .form__field.form__field--small
          span.form__message.is-invisible Can't be blank
          input.form__input(type="number", name="", required)
          label.form__label Number
      .form__row
        .form__field.form__field--small
          span.form__message.is-invisible Can't be blank
          input.form__input(type="number", name="", required)
          label.form__label Zipcode
        .form__field.form__field--big
          span.form__message.is-invisible Can't be blank
          input.form__input(type="text", name="", required)
          label.form__label City
      button.form__button(type="submit") Next

script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
script(src="js/scripts.js")
